# https://replicate.com/
REPLICATE_API_TOKEN=

# https://supabase.com/
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# https://stripe.com/
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY_TEST=
STRIPE_WEBHOOK_SECRET_TEST=

# https://1password.com/password-generator/
CRON_SECRET=

# https://try.cloudflare.com/
# 隧道URL仅在本地开始时使用，如果不使用，设置为 http://localhost:3000
TUNNEL_URL=

# https://crisp.chat
CRISP_WEBSITE_ID=